* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html{
    height: 100%;
}
body {
    transition: background-color 0.5s ease;
    background-color: #fff;
    color: #333;
  }
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: steelblue;
    width: 100%;
    height: 6.25rem;
    padding-top: 1.875rem;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
}
.logo{
    padding-bottom: 30px;
    width: 5.625rem;
    height: 5.625rem;
}
.nav-ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.125rem;
    text-decoration: black;
}
.imgProducto{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}
.colorBoton{
    color: white;
    padding: 3px;
    background-color: rgb(12, 63, 95);
    align-items: center;
    text-align: center;
}
.colorBotonn{
    color: white;
    padding: 3px;
    margin: 3px;
    background-color: rgb(12, 63, 95);
}
#contenedorProductos{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#contenedorcarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
#modoOscuroBtn{
    color: white;
    padding: 3px;
    margin: 10px;
    margin-left: 35px;
    background-color: rgb(12, 63, 95);
}
.dark-mode {
    background-color: #333;
    color: #fff;
  }
.h3{
    padding-left: 15px;
}
footer{
    background-color: steelblue;
    width: 100%;
    height: 11.25rem;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50.625rem;
}

.footer-resultados{
    background-color: steelblue;
    width: 100%;
    height: 11.25rem;
    margin-top: 31.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50.625rem;
}
.h1-resultados{
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 120px;
}
.div-resultado{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}
#fetchButton{
    margin-left: 35px;
}
.h3{
    margin-top: 25px;
    padding-top: 10px;
    background-color: grey;
}
.roww{
    background-color: grey;
    padding: 25px;
}